[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
render_lambda = {editable = true, file = "file:///C:/Users/chizz/Documents/render-lambda"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
synth = "cdk synth --no-staging > template.yaml"
notifys3 = "sam local invoke Notify29C25B1B --env-vars env.json --event ./events/notifyS3Event.json"
notifystep = "sam local invoke Notify29C25B1B --env-vars env.json --event ./events/notifyStepEvent.json"
downloader = "python scripts/test-downloader.py"